# If a specific entity needs to be tuned you should first look here, if there
# are any directives in the httpd.conf that need to be changed for a specific
# entity then you will have to move that down for all entities.
#

# pid file location #
PidFile /var/run/httpd.pid

# Connection settings #
Include /etc/{{ project_name }}/connection.conf

# Thread settings #
Include /etc/{{ project_name }}/threadpool.conf

# Compression #
Include /etc/{{ project_name }}/compression.conf


# adding header so that we know what web server we are in #
Header add S ADDED-HEADER


# Proxy Config #
ProxyRequests Off
ProxyPreserveHost On
ProxyPass "/" "http://172.17.0.2:3128/" nocanon
ProxyPassReverse "/" "http://172.17.0.2:3128/"

<Proxy *>
  Order deny,allow
  Deny from all
  Allow from 172.17.0.3

</Proxy>

# VirtualHosts - SSL #
Listen 0.0.0.0:33000
#<VirtualHost 172.17.0.4:33000>

  LogLevel info
  ErrorLog "/var/log/{{ project_name }}/error_log"
  CustomLog "/var/log/{{ project_name }}/access_log" p14
#</VirtualHost>

