## Here we're configuring the server to use another upstream proxy for using
## the Google Cloud APIs


## pid file location
PidFile /var/run/httpd.pid

## Connection settings
Include /etc/{{ project_name }}/connection.conf

## Thread settings
Include /etc/{{ project_name }}/threadpool.conf

## Compression
Include /etc/{{ project_name }}/compression.conf


## adding header so that we know what web server we are in
Header add S ADDED-HEADER

## allow healthcheck
ProxyPass /health !
<location /health>
    Options -Indexes
    Order allow,deny
    Allow from localhost
</location>

## Proxy Config
<Proxy balancer://squid-gcp-proxy>
{% raw %}{{ range service "squid-gcp-proxy" }}    BalancerMember http://{{.Address}}:{{.Port}}
{{end}}
{% endraw %}
    Order deny,allow
    Deny from all
    Allow from 172.19.0.0/16
    Allow from 192.168.77.193
</Proxy>
ProxyRequests On
ProxyPreserveHost On
ProxyAddHeaders On
#ProxyVia On
ProxyRemote * balancer://squid-gcp-proxy/
AllowCONNECT 443 80

#ProxyRequests Off
#ProxyPreserveHost On
#ProxyPass / balancer://squid-gcp-proxy/
#ProxyPassReverse / balancer://squid-gcp-proxy/


Listen 0.0.0.0:{{ service_port }}

LogLevel {{ log_level | default("info") | lower }}
ErrorLog syslog:user
CustomLog syslog:user p14


