## Here we're configuring the server to use another upstream proxy for using
## the Google Cloud APIs


## Forward Proxy Config
<Proxy *>
{% raw %}{{/* take the current subnet and configure to only allow these hosts */}}{% endraw %}
    Require ip {% raw %}{{ file "/etc/host_subnet" }}{% endraw %}
</Proxy>
ProxyRequests On
AllowCONNECT 443 80
{% raw %}{{ range service "squid-gcp-proxy" }}ProxyRemote * http://{{.Address}}:{{.Port}}
{{end}}
{% endraw %}






