<IfModule worker.c>
  ThreadLimit          250 
  ServerLimit          5 
  StartServers         5 
  MaxClients           1250 
  MinSpareThreads      1000 
  MaxSpareThreads      1250 
  ThreadsPerChild      250 
  MaxRequestsPerChild  0 
</IfModule>
